---
title: Scan Images
page-header: Scan & Upload Images
layout-navbar-overlap: true
layout-navbar-condensed: true
layout-navbar-dark: true
menu: scan
libs: nouislider, autosize, tabler-flags, tabler-payments, litepicker, tom-select
---

<div class="row row-cards">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Scan Receipt</h3>
				<div id="uploadStatus" class="form-label"></div>
				<input type="file" id="fileInput" accept="image/*" class="form-control" />
				<br/>
				<a onclick="uploadImage()" class="btn btn-primary w-100">
					Take a Photo
				</a>
			</div>
			<div class="card-footer">
				<div class="row align-items-center">
					<div class="col">Learn more about <a href="#">How EcoScan Works</a></div>
					<!--<div class="col-auto">
						{% include ui/button.html text="Save" color="primary" %}
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Upload Receipt</h3>
				<div id="uploadStatus" class="form-label"></div>
				<input type="file" id="fileInput" accept="image/*" class="form-control" />
				<br/>
				<a onclick="uploadImage()" class="btn btn-primary w-100">
					Upload
				</a>
			</div>
			<div class="card-footer">
				<div class="row align-items-center">
					<div class="col">Learn more about <a href="#">How EcoScan Works</a></div>
					<!--<div class="col-auto">
						{% include ui/button.html text="Save" color="primary" %}
					</div>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">How does EcoScan Work?</h3>
				<br/>
				EcoScan works thanks to our awesome sponsors!
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<a href="https://github.com/differental/EcoScan" class="card card-sponsor" target="_blank" rel="noopener" style="background-image: url({{ site.base }}/static/sponsor-banner-homepage.png)" aria-label="Sponsor EcoScan!">
			<div class="card">
				<div class="card-body"></div>
			</div>
		</a>
	</div>


<script>
    function uploadImage() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('image', file);
		var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://172.20.13.136:5000/upload', true);
        xhr.onload = function() {
            if (xhr.status === 200) {
                document.getElementById('uploadStatus').innerHTML = 'Upload successful!';
            } else {
                document.getElementById('uploadStatus').innerHTML = 'Upload failed!';
            }
        };
        xhr.send(formData);
    }
</script>
